In [6]:
compras = 'Pao; 12,99**Arroz; 7,00**Maionese; 15,00**Torta; 23,00**Feijao; 5,00'

In [19]:
compras

'Pao; 12,99**Arroz; 7,00**Maionese; 15,00**Torta; 23,00**Feijao; 5,00'

In [8]:
type(compras)

str

In [9]:
dados = compras.replace('\t', '')

In [10]:
itens = compras.split('**')

In [20]:
itens

[['Pao', ' 12.99'],
 ['Arroz', ' 7.00'],
 ['Maionese', ' 15.00'],
 ['Torta', ' 23.00'],
 ['Feijao', ' 5.00']]

In [12]:
itens[2]

'Maionese; 15,00'

In [13]:
type(itens)

list

In [14]:
for i in range(0, len(itens)):
    itens[i] = itens[i].split(';')

In [15]:
itens

[['Pao', ' 12,99'],
 ['Arroz', ' 7,00'],
 ['Maionese', ' 15,00'],
 ['Torta', ' 23,00'],
 ['Feijao', ' 5,00']]

In [16]:
itens[3][1]

' 23,00'

In [21]:
valor = 0
for i in range(0, len(itens)):
    itens[i][1] = itens[i][1].replace(' ', ' ')
    itens[i][1] = itens[i][1].replace(',', '.')
    valor += float(itens[i][1])