In [ ]:
# 5 - Junção de DataFrames
#   a) Crie dois DataFrames, um com informações de clientes (com colinas como 'ID' e 'Nome')
#      e outro com informações de pedidos (com colunas como 'ID do cliente' e 'Total do Pedido');
#   b) Em seguida, realize uma junção (merge) entre esses DataFrames para criar um novo DataFrame
#      que contenha os detalhes dos pedidos, incluindo o nome do cliente que faz cada pedido.

In [1]:
import pandas as pd
import numpy as np

In [2]:
clientes = {'ID': [1, 2, 3],
            'Nome': ['Luis', 'Kaiki', 'Pollyanna']}
df_clientes = pd.DataFrame(clientes)

In [3]:
print(df_clientes)

   ID       Nome
0   1       Luis
1   2      Kaiki
2   3  Pollyanna

In [4]:
pedidos = {'ID do Cliente': [1, 3, 2, 1],
            'Total do Pedido': [100.0, 150.5, 80.4, 520.6]}
df_pedidos = pd.DataFrame(pedidos)

In [6]:
print(df_pedidos)

   ID do Cliente  Total do Pedido
0              1            100.0
1              3            150.5
2              2             80.4
3              1            520.6

In [8]:
df_detalhes_pedidos = pd.merge(df_pedidos, df_clientes, left_on='ID do Cliente', right_on='ID', how='left')

In [9]:
print(df_detalhes_pedidos)

   ID do Cliente  Total do Pedido  ID       Nome
0              1            100.0   1       Luis
1              3            150.5   3  Pollyanna
2              2             80.4   2      Kaiki
3              1            520.6   1       Luis

In [10]:
df_detalhes_pedidos

   ID do Cliente  Total do Pedido  ID       Nome
0              1            100.0   1       Luis
1              3            150.5   3  Pollyanna
2              2             80.4   2      Kaiki
3              1            520.6   1       Luis